# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from newsapi.newsapi_client import NewsApiClient

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Kevin\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

Bad key savefig.frameon in file D:\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 421 ('savefig.frameon : True')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.4/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.level in file D:\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 472 ('verbose.level  : silent      # one of silent, helpful, debug, debug-annoying')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.4/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.fileo in file D:\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 473 ('verbose.fileo  : sys.stdout  # a log filename, sys.stdout or sys.stderr')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.4/matplotlibrc.template
or from the matplotlib source distribution
In D:\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In D:\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
# Read your api key environment variable
load_dotenv()
api_key = os.getenv("NEWS_API_KEY")

In [3]:
# Create a newsapi client
newsapi = NewsApiClient(api_key = api_key)

In [4]:
# Fetch the Bitcoin news articles
btc_news = newsapi.get_everything(q = "bitcoin AND 2021", language = "en")

In [5]:
# Fetch the Ethereum news articles
eth_news = newsapi.get_everything(q = "ethereum AND 2021", language = "en")

In [55]:
# Create the Bitcoin sentiment scores DataFrame
btc_sentiments = []

for article in btc_news["articles"]:
    try:
        title = article["title"]
        description = article["description"]
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        positive = sentiment["pos"]
        negative = sentiment["neg"]
        neutral = sentiment["neu"]

        btc_sentiments.append({"text": text, "date": date, "compound": compound, "positive": positive, "negative": negative, "neutral": neutral})
    except AttributeError:
        pass

btc_df = pd.DataFrame(btc_sentiments)

cols = ["date", "text", "compound", "positive", "neutral", "negative"]
btc_df = btc_df[cols]

btc_df.head()

,date,text,compound,positive,neutral,negative
0,2021-05-07,Shares of Square are up more than 6% today aft...,0.2960,0.058,0.942,0.00
1,2021-05-12,Image: Tesla\r\n\n \n\n Tesla has stopped acce...,0.4939,0.134,0.816,0.05
2,2021-04-13,The crypto industry as a whole has seen a mome...,0.6124,0.135,0.865,0.00
3,2021-05-11,"Mark Zuckerberg posted a picture of his two, f...",0.8455,0.217,0.783,0.00
4,2021-05-12,Tesla CEO Elon Musk has changed his stance on ...,0.3818,0.071,0.929,0.00

In [56]:
# Create the Bitcoin sentiment scores DataFrame
eth_sentiments = []

for article in eth_news["articles"]:
    try:
        title = article["title"]
        description = article["description"]
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        positive = sentiment["pos"]
        negative = sentiment["neg"]
        neutral = sentiment["neu"]

        eth_sentiments.append({"text": text, "date": date, "compound": compound, "positive": positive, "negative": negative, "neutral": neutral})
    except AttributeError:
        pass

eth_df = pd.DataFrame(eth_sentiments)

cols = ["date", "text", "compound", "positive", "neutral", "negative"]
eth_df = eth_df[cols]

eth_df.head()

,date,text,compound,positive,neutral,negative
0,2021-05-04,Their investors call them disruptive innovator...,-0.2144,0.054,0.835,0.111
1,2021-04-20,Venmo is jumping aboard the cryptocurrency ban...,0.0258,0.034,0.966,0.000
2,2021-05-01,New York (CNN Business)Bitcoin prices continue...,0.0000,0.000,1.000,0.000
3,2021-05-03,By Reuters Staff\r\nFILE PHOTO: A representati...,0.0000,0.000,1.000,0.000
4,2021-05-03,A representation of virtual currency Ethereum ...,0.0000,0.000,1.000,0.000

In [14]:
# Describe the Bitcoin Sentiment
btc_df.describe()

        compound   positive    neutral   negative
count  20.000000  20.000000  20.000000  20.000000
mean    0.286925   0.087700   0.893950   0.018350
std     0.426434   0.095067   0.102189   0.036977
min    -0.585900   0.000000   0.677000   0.000000
25%     0.000000   0.000000   0.821000   0.000000
50%     0.338900   0.064500   0.907500   0.000000
75%     0.642875   0.146000   1.000000   0.011750
max     0.845500   0.275000   1.000000   0.134000

In [15]:
# Describe the Ethereum Sentiment
eth_df.describe()

        compound   positive    neutral   negative
count  20.000000  20.000000  20.000000  20.000000
mean   -0.024625   0.023150   0.951000   0.025850
std     0.255370   0.034562   0.053002   0.041599
min    -0.571900   0.000000   0.835000   0.000000
25%    -0.053600   0.000000   0.915000   0.000000
50%     0.000000   0.000000   0.958500   0.000000
75%     0.045025   0.050250   1.000000   0.066750
max     0.458800   0.097000   1.000000   0.111000

### Questions:

Q: Which coin had the highest mean positive score?

A: Bitcoin had the highest mean positive score with 0.0877

Q: Which coin had the highest compound score?

A: Bitcoin had the highest compound score with 0.8455

Q. Which coin had the highest positive score?

A: Bitcoin had the highest positive score with 0.2750

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [16]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [17]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
sw = set(stopwords.words('english'))

# Expand the default stopwords list if necessary
sw_addon = {'bitcoin', 'ethereum', 'crypto'}

# Define regex
regex = re.compile("[^a-zA-Z ]")

In [18]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
        
    # Remove the punctuation from text
    re_clean = regex.sub('', text)
   
    # Create a tokenized list of the words
    words = word_tokenize(re_clean)
    
    # Lemmatize words into root words
    lem = [lemmatizer.lemmatize(word) for word in words]
   
    # Convert the words to lowercase
    words = [word.lower() for word in words]
    
    # Remove the stop words
    tokens = [word for word in words if word not in sw.union(sw_addon)]
    
    return tokens

In [57]:
# Create a new tokens column for Bitcoin
btc_df["tokens"] = btc_df.text.apply(tokenizer)
btc_df.head()

,date,text,compound,positive,neutral,negative,tokens
0,2021-05-07,Shares of Square are up more than 6% today aft...,0.2960,0.058,0.942,0.00,"[shares, square, today, american, fintech, com..."
1,2021-05-12,Image: Tesla\r\n\n \n\n Tesla has stopped acce...,0.4939,0.134,0.816,0.05,"[image, tesla, tesla, stopped, accepting, paym..."
2,2021-04-13,The crypto industry as a whole has seen a mome...,0.6124,0.135,0.865,0.00,"[industry, whole, seen, momentous, year, growt..."
3,2021-05-11,"Mark Zuckerberg posted a picture of his two, f...",0.8455,0.217,0.783,0.00,"[mark, zuckerberg, posted, picture, two, frank..."
4,2021-05-12,Tesla CEO Elon Musk has changed his stance on ...,0.3818,0.071,0.929,0.00,"[tesla, ceo, elon, musk, changed, stance, cryp..."

In [58]:
# Create a new tokens column for Ethereum
eth_df["tokens"] = eth_df.text.apply(tokenizer)
eth_df.head()

,date,text,compound,positive,neutral,negative,tokens
0,2021-05-04,Their investors call them disruptive innovator...,-0.2144,0.054,0.835,0.111,"[investors, call, disruptive, innovators, detr..."
1,2021-04-20,Venmo is jumping aboard the cryptocurrency ban...,0.0258,0.034,0.966,0.000,"[venmo, jumping, aboard, cryptocurrency, bandw..."
2,2021-05-01,New York (CNN Business)Bitcoin prices continue...,0.0000,0.000,1.000,0.000,"[new, york, cnn, businessbitcoin, prices, cont..."
3,2021-05-03,By Reuters Staff\r\nFILE PHOTO: A representati...,0.0000,0.000,1.000,0.000,"[reuters, stafffile, photo, representation, vi..."
4,2021-05-03,A representation of virtual currency Ethereum ...,0.0000,0.000,1.000,0.000,"[representation, virtual, currency, seen, fron..."

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [43]:
from collections import Counter
from nltk import ngrams

In [62]:
# Generate the Bitcoin N-grams where N=2
btc_processed = tokenizer(btc_df["text"].str.cat())
btc_bigrams = ngrams(btc_processed, n=2)

In [63]:
# Generate the Ethereum N-grams where N=2
eth_processed = tokenizer(eth_df["text"].str.cat())
eth_bigrams = ngrams(eth_processed, n=2)

In [64]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [65]:
# Use token_count to get the top 10 words for Bitcoin
token_count(btc_bigrams, 10)

[(('hit', 'record'), 4),
 (('ceo', 'elon'), 3),
 (('elon', 'musk'), 3),
 (('representation', 'virtual'), 3),
 (('virtual', 'currency'), 3),
 (('currency', 'seen'), 3),
 (('seen', 'front'), 3),
 (('front', 'stock'), 3),
 (('stock', 'graph'), 3),
 (('graph', 'illustration'), 3)]

In [66]:
# Use token_count to get the top 10 words for Ethereum
token_count(eth_bigrams, 10)

[(('representation', 'virtual'), 7),
 (('virtual', 'currency'), 7),
 (('currency', 'seen'), 7),
 (('seen', 'front'), 7),
 (('front', 'stock'), 7),
 (('stock', 'graph'), 7),
 (('graph', 'illustration'), 7),
 (('illustration', 'taken'), 7),
 (('taken', 'february'), 6),
 (('february', 'reutersdado'), 6)]

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [67]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [ ]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [ ]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [ ]:
import spacy
from spacy import displacy

In [ ]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [ ]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [ ]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [ ]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---